<!doctype html>
<html lang='es'>
    <head>
        <%- include('./templates/header')%>
        <%- include('./templates/navbar')%> 
    </head>
    <body>
        <div class="card vh-100">
            <div class="card-body">
                <div class="row">
                    <div class="col-4 bg-light">
                        col-sm-4
                </div>
                <div class="col-8 text-white bg-dark">
                        col-sm-8
                </div>

                </div>
            </div>
        </div>
        <%- include('./templates/footer')%>
    </body>
</html>
